* {
    box-sizing: border-box;
}
#start_button{
    text-align: center;
}
#hidden1{
    visibility: hidden;
    display: block;
    position: relative;
}

#hidden2{
    display: block;
    position: relative;
}

#hidden3{
    display: none;
    position: relative;
}

#hidden6{
    display: none;
    position: relative;
}

/* #hidden4 {
    visibility: hidden;
    position: relative;
} */

/* #hidden5 {
    visibility: hidden;
    position: relative;
} */
